html, body{
	height: 100%;
	font-size:2.5vmin;
}

body{
	background: #000;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

h1,h2,h3,h4,h5,h6, p, span, ul, li{
	font-weight: normal;
	font-size: 1rem;
	margin: 0;
	padding: 0;
	line-height: 1em;
	list-style: none;
	list-style-position: inside;
}

.keyboard{
	/*background: #F00;*/
	width:300px;
	height: 210px;
	position: fixed;
	bottom:0%;
	right: 0%;
	margin-left: -150px;
	margin-top:-105px;
	z-index: 50;
	pointer-events: none;
}


.intro{
	position: fixed;
	z-index: 1;
	padding: 1rem;
	color: #FFF;
	width:40vmin;
	/*text-shadow: 1px 1px #000;*/
}
.intro a{
	color: #FFF;
}

.intro h1{
	font-size: 3rem;
	margin-bottom: 0.5rem;
}

.intro h1 a{
	text-decoration: none;
}
.intro h1 a:hover{
	text-decoration: underline;
}

.intro h2{
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

.intro p{
	font-size:0.8rem;
	line-height: 1.15em;
}


.cadre{
	cursor:pointer;
	position: absolute;
	top:0;
	left:0;
	width:70.71vmin;
	height: 100vmin;
	font-size: 30px;
	background: #FFF;
	/*transform: scale(0.2);*/
	/*position: relative;*/
	z-index: 20;
	text-align: center;
	box-sizing: border-box;
	padding: 2rem 2rem 1rem;
	/*box-shadow: rgba(0,0,0,0.1) 0px 2rem 2rem;*/
	transform-origin: top left;
}

/*.cadre:first-child{
	background: #0F0;
}

.cadre:last-child{
	background: #F00;
}*/

.cadre.full{
	position: fixed;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%) scale(1,1) !important;
	z-index: 200 !important;
	transform-origin: center center !important;
	cursor: grab;
}

.cadre .intervenant{
	font-size: 2.5rem;
	/*pointer-events: none;*/
}

.cadre .mention{
	font-size: 0.6rem;
	margin-top: 0.3rem;
	/*pointer-events: none;*/
}

.cadre .calendrier{
	/*pointer-events: none;*/
}

.cadre .calendrier span{
	display: block;
	margin-top: 0.3rem;
	/*pointer-events: none;*/
}

.cadre .calendrier .jour{
	font-size: 3.5rem;
	/*pointer-events: none;*/
}
.cadre .calendrier .date{
	font-size: 12rem;
	line-height: 0.9em;
	/*pointer-events: none;*/
}
.cadre .calendrier .mois{
	font-size: 3.5rem;
	line-height: 0.8em;
	margin-top:-0.3em;
	/*pointer-events: none;*/
}

.cadre .titre{
	font-size: 1.5rem;
	margin-top: 0.7rem;
}

.cadre .info{
	font-size: 1.5rem;
	margin-top: 0.7rem;
	width: 75%;
	margin: 0.7em auto 0;
}

.cadre .more{
	margin-top: 1rem;
	font-size: 0.8rem;
}

.cadre a{
	color: #000;
}

.cadre .more a{
	color: #000;
}


.cadre .recap{
	text-align: left;
	column-count: 3;
	position: absolute;
	bottom: 1rem;
	left: 2rem;
	width: calc(100% - 4rem);
	-webkit-column-gap: 0rem; /* Chrome, Safari, Opera */
    -moz-column-gap: 0rem; /* Firefox */
    column-gap: 0rem;
    column-width: 33%;
	/*pointer-events: none;*/
}

.cadre .recap h2{
	break-after: column;
	font-size:1.3rem;
	margin-top:-0.3em;
	/*pointer-events: none;*/
}

.cadre .recap li{
	font-size: 0.53rem;
	/*background: #F00;*/
	/*max-width: 	100%;*/
	/*pointer-events: none;*/
}

.cadre .recap li+li{
	margin-top: 0.07rem;
	/*pointer-events: none;*/
}


.cadre .detail{
	text-align: left;
	display: none;
}

.cadre .detail p{
	font-size: 0.65rem;
	line-height: 1.35em;
}


.cadre .detail h1{
	font-size: 1.5rem;
	margin-bottom: 0.3rem;
	text-align: center;
}

.cadre .detail h2{
	font-size: 1.3rem;
	margin-bottom: 1rem;
	text-align: center;
}


.cadre .detail .resume p{
	font-size: 0.8rem;
}

.cadre .detail .bio{
	border-top: solid 1px #000;
	padding-top: 0.3rem;
	position: absolute;
	left: 2rem;
	right: 2rem;
	bottom: 2rem;
}


@media screen and (max-width: 700px){

	html, body{
		height: auto;
		font-size:4vmin;
	}

	body{
		overflow: auto;
		margin: 2rem;
	}

	.keyboard{
		display: none;
	}

	.intro{
		position: static;
		width: auto;
	}

	.cadre{
		position: static !important;
		width:100% !important;
		min-height: 50% !important;
		height: auto !important;
		margin: 2rem 0 !important;
		font-size:1rem !important;
		top:auto;
		left:auto;
		transform: none !important;
	}

	.cadre.full{
		position: static !important;
		top:auto;
		left:auto;
		transform: none !important;
		z-index: auto !important;
		transform-origin: center center !important;
		cursor: auto;
	}

	.cadre .content{
		display: block !important;
	}

	.cadre .more{
		display: none;
	}

	.cadre .recap{
		position: static !important;
		margin: 1rem 0;
		display: none;
	}

	.cadre .detail{
		display: block !important;
		margin: 1rem 0;
	}

	.cadre .detail h1, .cadre .detail h2{
		display: none;
	}

	.cadre .detail .bio{
		border-top: solid 1px #000;
		margin-top: 1rem;
		padding-top: 0.3rem;
		position: static;
		left: 2rem;
		right: 2rem;
		bottom: 2rem;
	}

}